import(Rcpp)
import(meteor)
importFrom("stats", "optim")
importFrom("methods", "new")
exportMethods("crop<-", "soil<-", "control<-", "biom<-", "fert<-", "run")
export(nutSupply1, nutSupply2, fertilizers, fertApp, nutrientRates, predict, quefts_biom, quefts_soil, quefts_fert, quefts_crop, quefts, revSupply)
useDynLib(Rquefts, .registration = TRUE)
